.enter {
  display: flex;
  align-items: center;
  justify-content: center;
}
.vertical {
  display: flex;
  flex-direction: column;
}
#instructions {
  margin: 50px;
  font-size: large;
}
.field-view {
	display: block;
	height: 400px;
	background-color: #87CEFA;
}

.field-view-agent {
	display: block;
	height: 200px;
	background-color: #87CEFA;
}

.directive {
	height: 75px;
	margin: 7px;
	background-color: yellow;
}

.hitlist {
	display: block;
	height: 400px;
	background-color: #D8BFD8;
}

.agent {
	height: 200px;
	background-color: #D8BFD8;
	margin: 10px;
}
