<div>
	<h1>Dispath World View</h1>
	<!-- some cool angular input directive -->
	<!-- fieldview div... big box if possible -->
	<div class="col-md-10 field-view">
		<div ng-repeat="item in fieldView">
			<div class="col-sm-1 directive">{{item}}</div>
		</div>
	</div>
	<form ng-submit="addDirective(toAdd)">
	  <input ng-model="toAdd" placeholder="Add Directive" />
	  <input type="submit"/>
	</form>

	<!-- build views of agents. another repeater from state -->
	<div ng-repeat="(key, value) in agentList">
		<div class="col-lg-3 agent" ng-style="{'background-color': value.status}">
			<h2>{{value.name}}</h2>
			<h4>{{value.directive}}</h4>
		</div>
	</div>

</div>
